---
import instagramLogo from "../assets/instagram.png";
import facebookLogo from "../assets/facebook.png";
---
<div>
    <header class="headerFijo">
        <nav class="navigator">
            <div class="container mx-auto flex justify-between items-center">
                <div class="logo" style="font-size: 18px">
                    <p>
                        <a href="/"><b>Mi Pan</b></a>
                    </p>
                </div>
                <div class="hidden md:flex space-x-4">
                    <a href="https://www.instagram.com/mipan.mx/">
                        <img src={instagramLogo.src} alt="Instagram" width="20" />
                    </a>
                    <a href="https://www.facebook.com/MiPan.mx">
                        <img src={facebookLogo.src} alt="Facebook" width="20" />
                    </a>
                </div>
                <!--<div class="hidden md:flex space-x-4">-->
                <!--    <ul class="flex space-x-4 text-red-600">-->
                <!--        <li><a href="/panes">Panadería</a></li>-->
                <!--        <li><a href="#services">Pasteles</a></li>-->
                <!--        <li><a href="#about_of">Acerca de</a></li>-->
                <!--        <li><a href="#contact">Contacto</a></li>-->
                <!--    </ul>-->
                <!--</div>-->
                <div class="md:hidden">
                    <button id="menu-button" class="text-gray-500 focus:outline-none">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                        </svg>
                    </button>
                </div>
            </div>
            <div id="mobile-menu" class="hidden md:hidden absolute top-full left-0 w-full bg-white shadow-lg">
                <ul class="flex flex-col space-y-4 p-4">
                    <li><a href="#about_of">Acerca de</a></li>
                    <li><a href="#contact">Contacto</a></li>
                    <li><a href="#panes">Panadería</a></li>
                    <li><a href="#services">Servicios</a></li>
                    <li class="flex space-x-4 mt-4">
                        <a href="https://www.instagram.com/">
                            <img src={instagramLogo.src} alt="Instagram" width="20" />
                        </a>
                        <a href="https://www.facebook.com/">
                            <img src={facebookLogo.src} alt="Facebook" width="20" />
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <style>
        .headerFijo {
            position: fixed;
            top: 0;
            padding: 10px;
            width: 100%;
            z-index: 1000;
            background-color: white;
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const menuButton: any = document.getElementById('menu-button');
            const mobileMenu: any = document.getElementById('mobile-menu');

            menuButton.addEventListener('click', () => {
                mobileMenu.classList.toggle('hidden');
            });
        });
    </script>
    <div id="panes" class="grid md:grid-cols-4 gap-4 min-h-svh"></div>

    <div id="load-more-container" class="flex justify-center mt-4">
        <button id="load-more" style="color: #E32826" class="font-bold py-2 px-4 rounded">Ver m&aacute;s</button>
    </div>
    <div class="h-56 content-center">
        <div class="text-center">
            <p class="text-2xl font-bold primary-text">Mi Pan</p>
        </div>
    </div>
</div>

<script>
    import { FilesService } from '../services/files';
    import Loading from '../assets/loader.gif';

    const fileService = new FilesService();

    let panes: Array<any> = [];
    let visibleProducts = 20; // Initially display 20 products

    function adjustImageSizes() {
        const isSmallScreen = window.innerWidth <= 768;
        const images: any = document.querySelectorAll('#panes img');
        images.forEach((img: any) => {
            if (isSmallScreen) {
                img.style.width = '200%';
                img.style.height = 'auto';
                img.classList.add('p-6');
                img.classList.add('mb-4');
            } else {
                img.style.width = img.getAttribute('data-width');
                img.style.height = img.getAttribute('data-height');
            }
        });
    }

    async function loadProducts() {
        const panesContainer = document.getElementById("panes");
        if (!panesContainer) return;

        const response = await fileService.getCatalog();
        panes = response.data.filter((pane: any) => pane.name !== "");
        renderProducts(panesContainer);
    }

    function renderProducts(container: any) {
        const fragment = document.createDocumentFragment();
        panes.slice(0, visibleProducts).forEach((pane, index) => {
            const div = document.createElement("div");
            div.classList.add("flex", "flex-col", "items-center", "justify-center", "text-center", "w-full", "md:w-auto");
            div.innerHTML = `
                <img async src="${Loading.src}" data-src="${pane.image}" alt="${pane.name}" class="mb-2 w-1/2 md:w-2/3" onload="this.src=this.getAttribute('data-src')" />
                <p class="text-xl">${pane.name}</p>
            `;
            fragment.appendChild(div);
        });
        container.innerHTML = '';
        container.appendChild(fragment);

        adjustImageSizes();

        // Hide or show the "Ver más" button based on the number of visible products
        const loadMoreButton: any = document.getElementById("load-more");
        if (visibleProducts >= panes.length) {
            loadMoreButton.style.display = 'none';
        } else {
            loadMoreButton.style.display = 'block';
        }
    }

    document.addEventListener("DOMContentLoaded", loadProducts);

    document.getElementById("load-more")?.addEventListener("click", () => {
        visibleProducts += 20; // Load 20 more products
        renderProducts(document.getElementById("panes"));
    });
</script>